<div class="container-cover__image">
    <div class="header-container">
        <div class="logo-with-title">
          <div class="app-logo">
            <!-- <img
              src="https://img.freepik.com/free-photo/ai-nuclear-energy-future-innovation-disruptive-technology_53876-129784.jpg?w=360&t=st=1668063597~exp=1668064197~hmac=3ca5fd4fd8c994068fca72293c47886c863f9fc2da9ed82b195c2b144c988819"
              alt="logo"> -->
          </div>
          <div class="app-title">
            <h1 class="title">Progressing...</h1>
          </div>
        </div>
        <div class="nav-container">
          <nav class="navbar-section">
            <button class="btn btn-signIn"> Sign-In</button>
            <button class="btn btn-signUp"> Sign-Up</button>
          </nav>
        </div>
      </div>
</div>