<div class="body-container">
  <div class="container-images">
    <div class="tree-container">
        <img  class="tree-container-image" src="./../../../assets/images/tree.png" alt="Tree Image">
    </div>
    <div class="welcome-container">
        <img class="welcome-container-image" src="./../../../assets/images/welcome.png" alt="Welcom Image">
    </div>
  </div>
  <div class="container-content">
    <section class="container-content-section">
        <p>
            This is a simple and normal crud operation application which is used to upload and store the files
        </p>
        <button class="btn btn-explore">
            Explore it
        </button>
    </section>
  </div>
</div>